:root{
    --main-color:#009ad8;
    --text-p:#bfc1c8;
    --transition:.3s;
    --bg-sec:#1e202b;
}

*{
    font-family: 'Roboto', 'Open Sans', sans-serif;
    box-sizing: border-box !important;
}
.text-main{
    color: var(--main-color) !important;
}
.bg-main{
    background-color: var(--main-color) !important;
}
.border-main{
    border-color: var(--main-color) !important;
}
.text-p{
    color: var(--text-p) !important;
}
.bg-sec{
    background-color: var(--bg-sec);
}
.transition{
    transition: var(--transition) 0s all linear;
}
.fit-content{
    width: fit-content !important;
}
.fs-10{
    font-size: 10px !important;
}
.fs-15{
    font-size: 15px !important;
}
.fs-20{
    font-size: 20px !important;
}
.fs-25{
    font-size: 25px !important;
}
.fs-30{
    font-size: 30px !important;
}
.fs-35{
    font-size: 35px !important;
}
.fs-40{
    font-size: 40px !important;
}
.fs-45{
    font-size: 45px !important;
}
.fs-50{
    font-size: 50px !important;
}
.fs-55{
    font-size: 55px !important;
}
.fs-60{
    font-size: 60px !important;
}
.lh-15{
    line-height: 15px !important;
}
.lh-20{
    line-height: 20px !important;
}
.lh-25{
    line-height: 25px !important;
}
.lh-30{
    line-height: 30px !important;
}
.lh-35{
    line-height: 35px !important;
}
.lh-40{
    line-height: 40px !important;
}
.lh-45{
    line-height: 45px !important;
}
.lh-50{
    line-height: 50px !important;
}
.lh-55{
    line-height: 55px !important;
}
.lh-60{
    line-height: 60px !important;
}
.fw-100{
    font-weight: 100 !important;
}
.fw-200{
    font-weight: 200 !important;
}
.fw-300{
    font-weight: 300 !important;
}
.fw-400{
    font-weight: 400 !important;
}
.fw-500{
    font-weight: 500 !important;
}
.fw-600{
    font-weight: 600 !important;
}
.fw-700{
    font-weight: 700 !important;
}
.fw-800{
    font-weight: 800 !important;
}
.fw-900{
    font-weight: 900 !important;
}
ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
span{
    display: inline-block;
}
a{
    text-decoration: none;
    display: block;
    color: black;
}